<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62721567513-gmlqne3v4a8pdm4hj4paeqa3qc0epd90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62721567513-gmlqne3v4a8pdm4hj4paeqa3qc0epd90</string>
	<key>API_KEY</key>
	<string>AIzaSyARxIdOIClj_u2cDz5XwqWhanG4ZUHFew4</string>
	<key>GCM_SENDER_ID</key>
	<string>62721567513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cryptal.exchange.mobile</string>
	<key>PROJECT_ID</key>
	<string>cryptal-testing</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptal-testing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62721567513:ios:cb650f600b8ff7b5263388</string>
</dict>
</plist>