<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cryptalapp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>7</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>00489FFA6F0E2F81E2CE3B31E84CCB5B0FB05ED0</string>
				<key>dateExpires</key>
				<string>24.11.23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>00489FFA6F0E2F81E2CE3B31E84CCB5B0FB05ED0</string>
						<key>dateExpires</key>
						<string>24.11.23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IdensicMobileSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3846PSQ5RZ</string>
						<key>name</key>
						<string>Digital Ledger Technologies UAB</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3846PSQ5RZ.com.cryptal.exchange.mobile</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>3846PSQ5RZ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>cryptalapp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>588326f8-b413-42c9-912e-cae94dc0a593</string>
				<key>dateExpires</key>
				<string>24.11.23</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.cryptal.exchange.mobile</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3846PSQ5RZ</string>
				<key>name</key>
				<string>Digital Ledger Technologies UAB</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
